


#header{
    background:linear-gradient(rgba(0,0,0,0),#660096),  url(/assets/images/back1.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
   
}
.body-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.body-text h1{
    font-size: 60px;
    font-family: 'Kaushan Script', monospace;
}
.body-text p{
    font-size: 20px;
    font-style:italic;
}