*{  
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;  
}

/* --header section--*/ 
#header{
   /* background:linear-gradient(rgba(0,96,8,0.2),#c6a0db), url(/assets/images/back1.png);*/
        background-image:url("https://img.sm360.ca/images/article/groupe-dallaire/80255//cadillac-escalade-2021-2-1603384289486.png");
        background-position: center;
        background-repeat:no-repeat;
        width:100%;
        height: 301px;
        background-size: cover;    
}

/* --body section--*/ 
#body{
    width: 100%;
    padding: 70px 0 70px;
    background:rgba(0,96,8,0.2);    
}
.body-text{
    margin-top: 0;
    text-align: center;
    color: #000;
    padding: 70px 0 70px 0;
}
.body-text h1{
    font-size: 60px;
    font-family: 'Kaushan Script', monospace;
}
.body-text p{
    font-size: 20px;
    font-style:italic;
}

 /* --footer section--*/  
#cta{
    width: 100%;
    padding: 70px 0 70px;
     /* border: 3px solid #3CC;   -- ceci permet d'ajouter une ligne de bordure à la section*/      
}
.container { 
   /* border: 3px solid #3CC;   -- ceci permet d'ajouter une ligne de bordure à la div*/  
    margin: 10px 10px;
    padding: 70px 0 70px 45%;
    justify-content: center;   
}
button {
    color: rgb(10, 10, 10);
    padding: 10px;
    font-size: 20px;
    background: rgba(0,96,8,0.2);;    
}
